/* set global styles */
body {
  margin: 0px;
  background-image: url(../img/ben-stern-4n96lyJd2Xs-unsplash.jpg);
  background-size: cover;
}

html {
  box-sizing: border-box;
  margin: 0px;
}

*,
*:before,
*:after {
  font-family: "Architects Daughter", cursive;
  margin: 0px;
  box-sizing: inherit;
}

:root {
  --purple: #9b58d5;
  --blue: #57c3cd;
}

/* Header */

header {
  height: 100px;
  width: 100vw;
  background: white;
  display: flex;
}

/* Logo */

.logowrapper {
  min-width: 110px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
}

.logo > * {
  margin: 0px;
  color: var(--blue);
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 12px;
}

/* Navigation Bar */

nav {
  display: flex;
  align-items: center;
  flex: 1;
}

ul {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.navButton {
  font-size: 18px;
  background-color: white;
  border: none;
  outline: none;
}

.navButton:hover {
  color: var(--purple);
  transform: scale(1.1);
}

/* set up background image */

#content {
  display: flex;
  flex-direction: column;
}

.imageBackground {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

/* Style White Box centered on page */

main {
  flex: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContentwrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: solid 2px var(--blue);
  width: 80vw;
  max-width: 800px;
  font-size: 28px;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

h4 {
  font-size: 18px;
  margin-top: 20px;
  color: var(--purple);
}

/* Home page Styling */

.moreInfo {
  margin: 20px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contactInfo {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.formatButton {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  background: linear-gradient(90deg, var(--blue) 43%, var(--purple) 100%);
  color: white;
  outline: none;
  border: white solid 1px;
  box-shadow: 5px 5px 15px 5px #000000;
}

.moreInfo > * {
  margin: 15px;
}

@media (min-width: 500px) {
  ul {
    margin-right: 30px;
  }
  .logowrapper {
    min-width: 185px;
  }

  .logo {
    margin: 0px 30px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }
}
